.games {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr) ;
    // overflow: hidden;
    

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        
        .img-games {
            width: 91%;
            height: 91%;
            object-fit: cover;
            box-shadow: 1px 1px 10px 0px #646464;
            transition: 0.1s;
            &:hover{
                transform: scale(1.1);
                transition: 0.1s;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .games {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr) ;
    }
    
  }