.intro {
    width: 100%;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 767px) {
        height: 50vh;
        flex-direction: column-reverse;
    }

    .intro-data {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-family: 'Roboto';
        @media only screen and (max-width: 767px) {
            height: auto;
            align-items: center;
        }

        h2 {
            margin: 0;
            font-size: 4vw;
            @media only screen and (max-width: 767px) {
                font-size: 2em;
            }
        }

        h3 {
            margin: 0;
            font-size: 2vw;
            font-weight: 300;
            @media only screen and (max-width: 767px) {
                font-size: 1.2em;
            }
        }
    }

    .intro-img {
        width: 30%;
        height: 80%;
        position: relative;
        @media only screen and (max-width: 767px) {
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 80%;
            height: 100%;
            animation: invoker 2s linear 0s infinite alternate both;
            position: absolute;
            object-fit: cover;
            @media only screen and (max-width: 767px) {
                width: 60%;
                height: 100%;
            }
        }

        @keyframes invoker {
            0% {
                bottom: -5%;
            }

            100% {
                bottom: 5%;
            }
        }
    }

}