.promociones {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    // background: red;
    // overflow: hidden;
    @media only screen and (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr) ;
    }

    .promo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        // background: lime;
        @media only screen and (max-width: 767px) {
            width: 100vw;
            height: 100vh;
        }

        .img-promo {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

        .info {
            position: absolute;
            width: 100%;
            height: 100%;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            h2 {
                font-family: 'Luckiest Guy', cursive;
                font-size: 4.5vw;
                text-shadow: 2px 2px 5px black;
                text-align: center;
                margin: 0;
                text-transform: uppercase;
                @media only screen and (max-width: 767px) {
                    font-size: 4em;
                }
            }

            h3 {
                font-family: 'Roboto';
                font-size: 1.5vw;
                text-shadow: 2px 2px 5px black;
                text-align: center;
                text-transform: uppercase;
                padding: 0vw 1vw;
                margin: 0;
                @media only screen and (max-width: 767px) {
                    font-size: 2em;
                }
            }

            span {
                font-family: 'Roboto';
                font-size: 1.5vw;
                font-weight: normal;
                text-shadow: 2px 2px 5px black;
                text-align: center;
                padding: 0vw 2vw;
                margin-bottom: 2vw;
                @media only screen and (max-width: 767px) {
                    font-size: 1.5em;
                    padding: 0 1em;
                    margin-bottom: 2em;
                }
            }

        }

        .degradado1 {
            background: linear-gradient(0deg, #7822c3 0%, rgba(224, 253, 45, 0) 39%);
        }

        .degradado2 {
            background: linear-gradient(0deg, #a922c3 0%, rgba(224, 253, 45, 0) 39%);
        }

        .degradado3 {
            background: linear-gradient(0deg, #94005f 0%, rgba(224, 253, 45, 0) 39%);
        }

        .degradado4 {
            background: linear-gradient(0deg, #b30000 0%, rgba(224, 253, 45, 0) 62%);
        }

        .degradado5 {
            background: linear-gradient(0deg, #ff0074 0%, rgba(224, 253, 45, 0) 62%);
        }

        .degradado6 {
            background: linear-gradient(0deg, #ffaf00 0%, rgba(224, 253, 45, 0) 62%);
        }

    }
}
