html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background: #000;
    // color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    @import './4-templates/left';
    @import './4-templates/right';

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');


    .menu-bar {
        position: absolute;
        width: 3.5em;
        height: 3.5em;
        background: rgb(245, 243, 243);
        display: none;
        justify-content: center;
        align-items: center;
        padding: 1vw;
        border-radius: 1vw;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        left: 1em;
        top: 1em;

        @media only screen and (max-width: 767px) {
            display: flex;
        }

        i {
            font-size: 3em;
            color: rgb(19, 18, 18);
        }
    }




}