.right{
    scroll-behavior: smooth;
    width: 80%;
    height: 100%;
    // background: #E4E4E4;
    background: #E4E4E4;
    color: rgb(12, 12, 12);
    overflow-y: scroll;
    @import './3-organisms/intro';
    @import './3-organisms/contenido';
    @import './3-organisms/premios';
    @import './3-organisms/games';
    @import './3-organisms/promociones';
    @import './3-organisms/ubicacion';
    
    
}
@media only screen and (max-width: 767px) {
    .right {
      width: 100%;
    }
    
  }