

&::-webkit-scrollbar {
    width: 0.5vw;
    /* Tamaño del scroll en vertical */
    height: auto;
    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
&::-webkit-scrollbar-thumb {
    background: rgb(50, 50, 50);
    border-radius: 0.1vw;

}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
&::-webkit-scrollbar-thumb:hover {
    background: #3b3b3b;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
&::-webkit-scrollbar-thumb:active {
    background-color: rgb(41, 41, 41);
}