.contenido {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media only screen and (max-width: 767px) {
        align-items: center;
    }

    h2 {
        width: 40vw;
        height: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        margin: 1vw;
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
        text-transform: uppercase;

        @media only screen and (max-width: 767px) {
            width: auto;
            height: auto;
            font-size: 1.5em;
            padding: 0.5em;
        }
    }

    .reclama-puntos-color-h2 {
        background: #ff0040;
    }

    .juegos-color-h2 {
        background: #ff006a;
    }

    .promos-color-h2 {
        background: #0099ff;
    }

    .ubicacion-color-h2 {
        background: #ffbb00;
        color: rgb(20, 20, 20);
    }

    span {
        width: 100%;
        margin: 1vw;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #000000;
        font-size: 1.6vw;

        @media only screen and (max-width: 767px) {
            width: auto;
            height: auto;
            font-size: 1em;
            padding: 0.5em;
        }
    }

    ;
}